@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

@font-face {
  font-family: 'Main Font';
  src: url('./assets/font.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}

input[type="password"]::-ms-reveal {
  display: none;
}