on: [pull_request, workflow_dispatch]

name: Validate Branch

env:
  AWS_REGION: 'us-east-1'
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }} 

permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: Build Validation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with: 
          node-version: '22'
      - name: Install Dependencies
        run: |
          npm cache clean --force
          npm ci 
          cd amplify
          npm ci
      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          role-session-name: Github_to_AWS_via_FederatedOIDC
          aws-region: ${{ env.AWS_REGION }}
      - name: Generate Outputs
        run: |
          npx ampx generate outputs --stack ${{ secrets.SANDBOX_STACK }}
      - name: Run Build
        run: npm run build
    
